    <h2>{{ title }}:</h2>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Direction</th>
                <th>Epic</th>
                <th>Amount</th>
                <th>Opened</th>
                <th>Open Comment</th>
                <th>Closed</th>
                <th>Close Comment</th>
                <th>P&amp;L</th>
                <th>Confidence</th>
                <th>Balance</th>
            </tr>
        </thead>
        <tbody>
            {% for trade in trades %}
                <tr>
                    <td>{{ trade.id }}</td>
                    <td>{{ trade.direction }}</td>
                    <td><a href="{{ context_path }}/graph?epic={{ trade.epic }}&freq=1h">{{ trade.epic }}</a></td>
                    <td>{{ "£{:,.2f}".format(trade.amount) }} <br/> {{ trade.size }}</td>

                    <td>{{ trade.opened_at[:19].replace('T', ' ') }} <br/> {{ "£{:,.2f}".format(trade.open_price) }}</td>
                    <td style="max-width: 200px;">
                        <div class="comment-toggle" onclick="this.classList.toggle('expanded')">
                            <span class="preview">{{ trade.open_comment[:60] }}{% if trade.open_comment | length > 60 %}... <small style="color: gray;">(More)</small>{% endif %}</span>
                            <span class="full">{{ trade.open_comment }} {% if trade.open_comment | length > 60 %} <small style="color: gray;">(Less)</small>{% endif %}</span>
                        </div>
                    </td>

                    <td>{{ trade.closed_at[:19].replace('T', ' ') if trade.closed_at else '-' }} <br/> {{ "£{:,.2f}".format(trade.close_price) if trade.close_price is not none else '-' }}</td>
                    {% set comment = trade.close_comment or '' %}
                    <td style="max-width: 200px;">
                        <div class="comment-toggle" onclick="this.classList.toggle('expanded')">
                            <span class="preview">{{ comment[:60] }}{% if comment | length > 60 %}... <small style="color: gray;">(More)</small>{% endif %}</span>
                            <span class="full">{{ comment }}{% if comment | length > 60 %} <small style="color: gray;">(Less)</small>{% endif %}</span>
                        </div>
                    </td>

                    <!-- Conditional PnL class and display text -->
                    <td class="{% if trade.profit_or_loss is not none %}{% if trade.profit_or_loss >= 0 %}pnl-profit{% else %}pnl-loss{% endif %}{% else %}pnl-open{% endif %}">
                        {{ "£{:,.2f}".format(trade.profit_or_loss if trade.profit_or_loss is not none else trade.calculate_profit_and_loss(last_price)) }}
                    </td>

                    <td>{{ trade.confidence }}</td>
                    <td>{{ "£{:,.2f}".format(trade.balance_at_opening) }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
