<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Matrix - AI Trader{% endblock %}</title>
    <link rel="stylesheet" href="{{ context_path }}/static/css/style.css">
    <link rel="icon" type="image/x-icon" href="{{ context_path }}/static/images/aitrade.ico">
    <script src="{{ context_path }}/static/js/javascript.js"></script>
</head>
<body>
    <h1>Matrix - AI Trader</h1>
    <nav class="matrix-menu">
        <a href="{{ context_path }}/">[ Home ]</a>
        <a href="{{ context_path }}/trades">[ Trades ]</a>
        <a href="{{ context_path }}/graph">[ Graphs ]</a>
    </nav>



    {% block content %}{% endblock %}
    


    <!-- Invisible Expandible Popup -->
    <div id="expandablePopup">
        <div>
            <h3>{{ title }}</h3>
            <p id="expandablePopupText"></p>
            <button onclick="closeExpandablePopup()">Close</button>
        </div>
    </div>


</body>
</html>