{% extends "base.html" %}

{% block title %}Matrix Core - Ledger{% endblock %}

{% block content %}

    <div>
        <h2 style="float: left; margin: 0">
            <label for="epic-select" >Epic</label>
            <select id="epic-select" onchange="location.href='?epic=' + this.value +
                                                '{% if from %}&from={{ from }}{% endif %}' +
                                                '{% if to %}&to={{ to }}{% endif %}' +
                                                '{% if freq %}&freq={{ freq }}{% endif %}'">
                {% for current_epic in active_epics %}
                    <option value="{{ current_epic }}" {% if current_epic == epic %}selected{% endif %}>{{ current_epic }}</option>
                {% endfor %}
            </select>
        </h2>

        <div id="timeframe-links" style="float: right; display: flex; justify-content: flex-end; gap: 12px; margin-bottom: 12px;">
            <a id="link-12h" href="#" class="link-button">12h</a>
            <a id="link-7d" href="#" class="link-button">7 days</a>
            <a id="link-30d" href="#" class="link-button">30 days</a>
        </div>
    </div>

    <div id="chart-container" style="height: calc(100vh - 300px);"></div>

    <script src="https://unpkg.com/lightweight-charts/dist/lightweight-charts.standalone.production.js"></script>

    <script>
        document.addEventListener("DOMContentLoaded", async () => {
            const chartContainer = document.getElementById('chart-container');

            const markers = [
                {
                    time: {{trade_opened_at}},
                    position: 'belowBar',
                    shape: 'arrowUp',
                    color: '#00ff00',
                    text: '{{trade_open_direction}} @ {{trade_open_price}}'
                },
                {
                    time: {{trade_closed_at}},
                    position: 'aboveBar',
                    shape: 'arrowDown',
                    color: '#ff0000',
                    text: '{{trade_close_direction}} @ {{trade_close_price}}'
                }
            ];

            const chart = LightweightCharts.createChart(chartContainer, {
                width: chartContainer.clientWidth,
                height: chartContainer.clientHeight,
                layout: {
                    background: { type: 'solid', color: '#151515' },
                    textColor: '#aaaaaa',
                },
                grid: {
                    vertLines: { color: '#333333' },
                    horzLines: { color: '#333333' },
                },
                timeScale: {
                    borderColor: '#444444',
                    timeVisible: true,
                },
                rightPriceScale: {
                    borderColor: '#444444',
                },
            });

            new ResizeObserver(entries => {
                const { width, height } = entries[0].contentRect;
                chart.resize(width, height);
            }).observe(chartContainer);

            const candleSeries = chart.addSeries(LightweightCharts.CandlestickSeries, {
                upColor: '#00ff00',
                downColor: '#ff0000',
                borderVisible: false,
                wickUpColor: '#00ff00',
                wickDownColor: '#ff0000',
            });

            LightweightCharts.createSeriesMarkers(candleSeries, markers);

            const context_path = "{{ context_path }}"
            const epic = "{{ epic }}";
            const from = "{{ from }}";
            const to = "{{ to }}";
            const freq = "{{ freq }}";

            try {
                const response = await fetch(`${context_path}/api/market-data?epic=${epic}&from=${from}&to=${to}&freq=${freq}`);
                const data = await response.json();

                candleSeries.setData(data);
                chart.timeScale().fitContent();
            } catch (error) {
                console.error("Failed to load market data:", error);
            }

            window.addEventListener('resize', () => {
                chart.applyOptions({ width: chartContainer.clientWidth });
            });

            // buttons
            const now = new Date();

            function formatDateTime(date) {
                const pad = (n) => String(n).padStart(2, '0');

                const year = date.getUTCFullYear();
                const month = pad(date.getUTCMonth() + 1);
                const day = pad(date.getUTCDate());
                const hours = pad(date.getUTCHours());
                const minutes = pad(date.getUTCMinutes());
                const seconds = pad(date.getUTCSeconds());

                return `${year}-${month}-${day} ${hours}:${minutes}:${seconds}`;
            }

            const from12h = formatDateTime(new Date(now.getTime() - (12 * 60 * 60 * 1000)));
            const from7d  = formatDateTime(new Date(now.getTime() - (7 * 24 * 60 * 60 * 1000)));
            const from30d = formatDateTime(new Date(now.getTime() - (30 * 24 * 60 * 60 * 1000)));

            document.getElementById('link-12h').href = `?epic=${epic}&from=${from12h}&freq=1min`;
            document.getElementById('link-7d').href  = `?epic=${epic}&from=${from7d}&freq=1h`;
            document.getElementById('link-30d').href = `?epic=${epic}&from=${from30d}&freq=1d`;
        });
    </script>

{% endblock %}