{% extends "base.html" %}

{% block title %}Matrix Core - Ledger{% endblock %}

{% block content %}

    <h2>Active Epics</h2>
    <ul class="epic-pills">
        {% for epic in active_epics %}
            <li><a href="{{ context_path }}/graph?epic={{ epic }}&freq=1h">{{ epic }}</a></li>
        {% endfor %}
    </ul>


    <span>{{ last_price }}</span>

    {% if last_trade %}
        {% with trades=[last_trade], last_price=last_price, title="Last Trade" %}
            {% include "components/trades_table.html" %}
        {% endwith %}
    {% endif %}

{% endblock %}
